// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";

.avatar {
    width: 48px;
    height: auto;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 5px;
}

.avatar.avatar-lg {
    width: 64px;
}

.avatar.avatar-xl {
    width: 128px
}
