// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";

.avatar {
    width: 48px;
    height: auto;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 5px;
}

.avatar.avatar-lg {
    width: 64px;
}

.avatar.avatar-xl {
    width: 128px
}

//#sidebar {
//    position: fixed;
//    left: 0;
//    top: 20px;
//    bottom: 0;
//    background: rgba(255, 255, 255, 0.9);
//}
//
//#sidebar ul {
//    position: absolute;
//    top: 5px;
//}
//
//#sidebar li {
//    position: relative;
//    left: 0 !important;
//    height: 20px;
//    width: 100px;
//    background: #333;
//    border-bottom: 1px solid #999;
//}
//
//#sidebar li:hover {
//    background: #666;
//}
